
#a {
	font-size: 60;
}

body {
	text-align: center;
	background: linear-gradient(#76ff03,
			#00e676,
			#00c853,
			#388e3c,
			#1b5e20,
			#616161,
			#424242,
			#212121);
	color: white;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;

}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}


li a:hover {
	background-color: #111;
}

li {
	border-right: 1px solid #bbb;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 1px;

}

li:last-child {
	border-right: none;
}

ul {
	position: fixed;
	top: 0;
	width: 100%;
}

h1 {
	padding-top: 40px;
}

html {
	scroll-behavior: smooth;
}
